.form.clearfix

  %p 
    O Bloggers Row é um diretório de blogueiros brasileiros que trabalham com Ruby on Rails.

  %h2
    Como Participar?
  %p
    Quando você se inscreve no RubyOnda pode optar por participar no 
    = link_to ("Bloggers Row", :bloggers, :class => 'red') + "."
    Também é possível 
    = link_to ("editar a sua conta", profile_url, :class => 'red')
    para participar do Bloggers Row.

  %h2
    Porque Participar?
  %p 
    A intenção do RubyOnda é de auxiliar a divulgação do seu blog através da nossa rede. 
    %strong Não se esqueça de adicionar uma descrição ao seu perfil.

.form.clearfix

  %h2 Bloggers Row
  (por ordem de numero de artigos enviados)
  %p
  - @bloggers.each_with_index do |blogger, index|
    :erb 
      <div class="clearfix">
        <% unless blogger.url.blank? || blogger.nick.blank? %>     
          <div class="blogger_image">
            <%= avatar_tag(blogger.email) %>
          </div>

          <p>
            <%= blogger.nick %> 
            <% unless blogger.twitter_user.blank? %>
              (@<%= link_to blogger.twitter_user, "http://twitter.com/#{blogger.twitter_user}", :target => "_blank" %>)
            <% end %>
            - <%= blogger.posts.count %> Artigos 
            
                <% if index == 0 %>
                  <img src="/images/star.png" /><img src="/images/star.png" /><img src="/images/star.png" /> (Tsunami)
                <% elsif index == 1 %>
                  <img src="/images/star.png" /><img src="/images/star.png" /> (Maremoto)
                <% elsif index == 2 %>
                  <img src="/images/star.png" /> (Ondinha)
                <% end %>

            <br />
            <%= link_to "#{blogger.url} &#x2192;", blogger.url, :target => "_blank" %> <br />
            <%= blogger.blog_description %>
          </p>
        <% end %>
      </div>