#form
  - form_tag session_path do
    .form
      #open_id    
        = label_tag 'OpenID' 
        %br
        = text_field_tag 'openid_url'
        = submit_tag 'Entrar'
      
      = javascript_tag '', :id => "openid_url", :charset => "utf-8", :src => "https://www.idselector.com/selector/8692a472556173cd7a863aaefc76047320d75ad6"


