body {
	background:#EBEBEB;
	border-top:3px solid #373737;
	color:#585858;	
}
.top_div {
	padding-top: 40px;
}
a{
	color:#484848;
	font-weight:bold;
	padding:0;
	margin:0;	
}

.logo h1 {
	text-indent:-9999px;
	height:125px;
	width:125px;	
	background:url(/images/logo.png) no-repeat top right;	
}
.logo h1 a {
	display:block;
	height:125px;
	width:125px;	
}
h1 {
	margin: 0 0 0 0em;
	text-transform: uppercase;
	font-size: 1.4em !important;
	text-align:center;
}
.intro {
	text-align:right;
	text-shadow: #FFF 2px 2px 2px;	
}
.intro h2 {
	padding:.3em 0em;
	font-size:1.7em;
	letter-spacing:-1px;
}
.intro h2 a{
	color: #C11727;
	text-decoration: none;
	margin-right: -5px;
}
.intro h2 .supersmall {
	color: #C11727;
	font-size: 50%;	
	margin-left:0;
	vertical-align: super;
}
.nav {
	text-align: right;
}
.nav a {
	text-transform: uppercase;
	font-size: .7em;
	text-decoration: none;
	background: #F9FFCF;
	margin: 0 .2em;
	padding: .5em .3em;

}
.nav a:hover {
	background:#EBEBEB;
	border-bottom: 4px solid #525252;
}
.day h3 {
	font-size:.8em;
	padding:1em 0em 0em 1.5em;
	margin:0;
	margin-bottom:-2em;
	color: #818181;
	font-weight:bold;
	text-transform:uppercase;
}
.post_top{
	background:#EBEBEB url(/images/post_top.png) no-repeat top left;	
	width:100%;
	height:32px;
}	
.post {
	background:white url(/images/post_bottom.png) no-repeat bottom left;
}

.content {
	padding: .2em 1em .5em 1em;
}

.post h2{
	color:#475491;
	padding:0;
	margin:0;
	font-size:1em;
}
.post h2 a{
	color:#475491;
	font-size:1.2em;
}
.post h2 a:hover{
	color: #297299;
}
h2 small a {
	color: #8C8A8C !important;
	font-weight: normal;
	font-size: 1em !important;
	text-decoration:none !important;
}
h2 small {
	color: #8C8A8C;
	font-weight: normal;
	font-size: 1em !important;
	text-decoration:none !important;
}
.owner_time{
	text-align:right;
	font-size:.8em;
}
.footer {
	padding-top:2em;
	text-align:center;
	font-size:.8em;
	text-shadow: #FFF 2px 2px 2px;	
}
.form {
	padding: 20px;
	background: #F4F4F4;
}
.form h2{
	font-size:1.5em;
	text-transform: uppercase;
	text-shadow: #FFF 2px 2px 2px;	
	padding-bottom: 0;	
	margin-bottom:0;
}
label{
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
}
.errors {
	color: #500;
	font-weight: bold;
	padding: 0em 0em 1em 0em;
	text-shadow: #FFF 2px 2px 2px;		
}
.errors h2{
	font-size:1em;
	padding: .5em 0em;
}
.toperrors {
  text-align: center;
	padding:.5em 0;
}
.submit{
	padding: .5em .5em;
	margin: 1em 0 0 0;
	background: #E4E4E4;
}
.avatar {
	float: right;
	margin: 0 0em 0 0;
}
a.new{
	background:#EBA5A5;
	text-shadow: none;		
}
 a:hover.new{
	color:#484848;
}
.bla {
	display: none;
}
.bottom {
	display:block;
	clear:both;
}
.pagination {
	text-align: center;
	padding: .8em;
	margin: 2em 2em 2em 3em;
	border-top: 18px solid #EBEBEB;
	background: #E4E4E4;
}
.pagination a{

}
.red {
	color: #C11727 !important;
}

.css1 { font-size: .7em; }
.css2 { font-size: .8em; }
.css3 { font-size: .9em; }
.css4 { font-size: 1.0em; }

.tag_cloud {
	text-align:center;
	clear: both;
	padding: .8em;
	margin: 2em 2em 1em 2.5em;	
}
.tag_cloud a{
	font-weight:normal !important;
	text-shadow: #FFF 2px 2px 2px;		
	background: #DDDEDC;
	padding: 4px;	
	margin: 2px 0;
}
.tag_cloud a:hover{
 	background: #C6C7C5;
}
.tag_title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
	padding-bottom: .5em;
}
.subscribe {
	padding-top: 2.2em;
	text-align: center;
}
.subscribe a{
	text-decoration: none;
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;	
}
#help {
	display: none;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	font-size: 100%;
	font-weight: normal;
	margin: 0 auto 0px auto;
	padding: 3px 0 ;
	background: #e3e3e3;
	border-bottom: 1px solid #CCC;
	
}
.bookmarklet, .bookmarklet_video {
	padding: 5px 5px 0px 5px;
	margin: 0 0 5px 0;
	background: #CFCFCF;
	text-align: center;
}

.bookmarklet_video {
	margin-bottom: 10px;
}
.bookmarklet a {
	margin: 0;
	padding: 0;
}
/*************************************
 +Clearfix Hack
*************************************/

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
	
.clearfix {display:inline-block;}
	/* Hide from IE Mac \*/
	.clearfix {display:block;}
	/* End hide from IE Mac */
   


	table {
		font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
		border-collapse: collapse;

		}

	th {
		padding: 0 0.5em;
		text-align: left;
		border-top: 1px solid #CCC;		
		}


	td, th {
		border-bottom: 1px solid #CCC;
		padding: 0 0.5em;
		}

	td:first-child {
		width: 190px;
		}

	td+td {
		border-left: 1px solid #CCC;
		text-align: center;
		}
		
pre {
	font-size: 0.82em;
	padding: 6px;
	background: #d4d4d4;
	font-weight: bold;
	text-align: center;
}		
