%p
  = link_to "Ruby Onda", home_path
  foi desenvolvido pela
  = link_to "Bopia", "http://www.bopia.com" 
  e é mantido pela comunidade.
  %br
  = mail_to "rubyonda@bopia.com", "Entre em Contato", :encode => "hex"