<div style="text-align: center;">
<a href="http://www.locaweb.com.br/railssummit">
<img src="http://www.akitaonrails.com/assets/2008/8/1/468x60.gif" 
alt="Rails Summit Latin America" title="Rails Summit Latin America" 
border="0" width="468" height="60"/></a>
</div>