
<% unless controller.controller_name == "sessions" %>
<!--
  <div id="blogger_stack">
    <a href="http://rubyonda.com/bloggers_row" class="blogger_row"></a>
    <a href="http://stack.bopia.com" class="stack"></a>
  </div>
  -->

  <!--<a href='http://bit.ly/rubyonda'><img src='/images/lojaeasy_rubyonda.jpg' /></a>-->

  <!-- <a href="http://vintenews.com/"><img src="/images/banner-620x70.png" /></a> -->
  <a href="http://www.prefiroumastartup.com/"><img src="/images/banner2.jpg" /></a>
<% end %>