<% unless controller.controller_name == "sessions" %> 
 <div class="amazon">
   <a href="http://cearaonrails.com.br/" title="Ceará On Rails 2009">
   <img src="http://cearaonrails.com.br/images/banners/banner_728x90.gif" alt="Ceará On Rails 2009" border="0" />
   </a>
 </div>
<% end %>