
<% unless controller.controller_name == "sessions" %> 
  <div class="amazon" style="padding: 10px; text-align; right;" >
    <a href="http://stack.bopia.com/"><img src="http://stack.bopia.com/images/rubyonda_stack.png" /></a>
  </div>
<% end %>