<% unless controller.controller_name == "sessions" %> 
 <div class="amazon">
    <a href="http://oxenterails.com" title="Oxente Rails - Dois dias respirando Rails!"><img src="http://oxenterails.com/assets/30/banner728x90-motion.gif" alt="Oxente Rails - Eu vou" width="100%"/></a>  
    <a href="http://www.railssummit.com.br"><img  src="http://railssummit.com.br/imgs/44/original/en_728x90.gif" alt="Rails Summit 2009"  width="100%"/></a>
 </div>
 

<% end %>