<% unless controller.controller_name == "sessions" %> 
 <div class="amazon">
    <a href="http://www.railssummit.com.br"><img  src="http://railssummit.com.br/imgs/44/original/en_728x90.gif" alt="Rails Summit 2009"  width="100%"/></a>
 </div>
 

<% end %>