
<% unless controller.controller_name == "sessions" %> 
  <div id="blogger_stack">
    <a href="http://rubyonda.com/bloggers_row" class="blogger_row"></a>
    <a href="http://stack.bopia.com" class="stack"></a>  
  </div>
<% end %>