- @posts.group_by {|post| post.created_at.yday }.each do |day, posts|
  .grid_8.day
    %h3 
      = posts.first.created_at.to_formatted_s(:short)
    .post
      = render :partial =>"post", :collection => posts

#pagination
  = will_paginate @posts