.form
  - unless current_user.admin? || current_user.has_min_authorized_posts?
    .errors
      Seu artigo ficará em moderação por não ter pelo menos 10 artigos publicados  
  
  %h2 Novo Artigo
  .errors
    = error_messages_for :post
  - form_for @post do |f|
    = render :partial => 'form', :locals => {:f => f}
    .field.submit
      = submit_tag 'Enviar', :disable_with => "Processando..."
      ou
      = link_to 'Cancelar', root_url