%h2 Novo Post

= error_messages_for :post

#form
  - form_for @post do |f|
    = render :partial => 'form', :locals => {:f => f}
    = submit_tag 'Enviar', :disable_with => "Processando..."
    = link_to 'Cancelar', root_url