- @posts.group_by {|post| post.posted_at.yday }.each do |day, posts|
  .grid_8.day
    .post
      = render :partial =>"post", :collection => posts
.tag_cloud
  .tag_title
    Tags
  - tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class|
    = link_to tag.name, "", :class => css_class
